<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubarDev.Minimatch" version="1.2.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="JetBrains.Annotations" version="10.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="rda.SocketsForPCL" version="1.2.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
</packages>