<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Regeln für FubarDev.FtpServer" Description="Codeanalyseregeln für FubarDev.FtpServer.csproj." ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <!-- StyleCop.Analyzers cannot handle C# 8.0 yet -->
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1623" Action="Warning" />
    <Rule Id="SA1624" Action="Warning" />
    <Rule Id="SA1627" Action="Warning" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SX1309" Action="Warning" />
  </Rules>
</RuleSet>
