<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubarDev.Minimatch" version="1.2.0" targetFramework="net45" />
  <package id="NLog" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Schema" version="4.2.3" targetFramework="net45" />
  <package id="rda.SocketsForPCL" version="1.2.2" targetFramework="net45" />
</packages>