<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubarCoder.RestSharp.Portable.Core" version="3.0.0-beta06" targetFramework="net45" />
  <package id="FubarCoder.RestSharp.Portable.OAuth" version="3.0.0-beta06" targetFramework="net45" />
  <package id="FubarCoder.RestSharp.Portable.OAuth2" version="3.0.0-beta06" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="9.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="RestSharp.Portable.Google.Drive" version="0.5.0-beta06" targetFramework="net45" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta013" targetFramework="net45" developmentDependency="true" />
</packages>